@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Rubik", sans-serif;
}

/* Ul Custom Style */

ul {
  list-style-type: none !important;
  margin: 0 !important;
}

ul li::before {
  content: "";
  display: inline-block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #04348c;
  margin-right: 0.5rem;
}

/* Custom border Radius */
.custom-radius {
  border-bottom-left-radius: 100% 10%;
  border-bottom-right-radius: 100% 10%;
}

/* Slider */
.carousel {
  position: relative;
  padding-bottom: 80px;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.dots {
  position: absolute;
  bottom: 0;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dadde2;
  margin: 0 10px;
  cursor: pointer;
}

.dot.active {
  background-color: #010001;
  transform: scale(2);
}

/* Breadcrumb */

.custom-rounded {
  border-bottom-left-radius: 300px 300px;
}
